.hobby-card {
    border: solid black;
    padding: 1em;
    max-width: 250px;
    height: 400px;
}

.card-image {
    height: 60%;
    overflow: hidden;
}

.card-image > .static-image{
    height: 100%;
}

.year {
    font-style: italic;
    font-weight: bold;
}