// Hero Section

.hero-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;
    overflow: hidden;
}

.about-section {
    width: 100%;
}

// Three Boxes Section

.three-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    padding-top: 2em; 
}

.hover-box {
    max-width: 300px;
    min-width: 200px;
    aspect-ratio: 1/1;
    overflow-y: hidden;
    position: relative;
    border-radius: 10px;
    border: solid black;
}

.hover-box:hover {
    cursor: pointer;
    background-color: var(--clr-dark-purple);
    transition: background-color .3s ease;
}

.hover-box:hover .hover-overlay {
    transform: translateY(0);
}

.hover-box-heading {
    color: var(--clr-dark);
}

.hover-box-heading:hover {
    color: var(--clr-action-purple);
    transition: color .5s ease;
}

.hover-box:hover .hover-box-heading {
    color: var(--clr-action-purple);
    transition: color .3s ease;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}