.button {
    background-color: white;
    width: fit-content;
    min-width: 100px;
    margin: 0 0 0 auto;
    border: solid black;
}

.button:hover {
    background-color: var(--clr-dark-purple);
    color: var(--clr-action-purple);
    transition: background-color .3s ease;
    cursor: pointer;
}