.main-container {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
}

main {
    min-height: 90vh;
    position: relative;
}

.top-wrapper {
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    max-width: fit-content;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    flex-basis: 33%;
}